
@use 'vars';
@use 'mixins';
/* ESTILOS GENERALES */
* { 
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--bg-color);
}

.flex-style{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
body {
    background-color: var(--bg-color);       
    color: var(--primary-text-color);        
    min-height: 100vh;  
    max-width: 80%; 
    margin:0 auto;                  
  }
  
