/* ***VARIABLES*** */
:root{
    --bg-color: #120621;
    --nav-bg-color: #1A0B2E;
    --primary-text-color: #ffffff;
    --secundary-text-color: #7127BA;
    --btn-bg-color: yellow;
    --btn-text-color: black;
    --btn-border-color:#7127BA;
    --btn-bg-color-hover: #7127BA;
    --btn-border-color-hover:yellow;
}