@use 'mixins';
@use 'vars';
@use 'general';

.video-background {
    position: fixed; 
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    z-index: 0; 
    object-fit: cover; 
}

