/* ***VARIABLES*** */
:root { 
    // COLORES
    --primary-text-color: #ffffff ;
    --secundary-text-color:black ;
    --btn-text-color: white ;
    --btn-border-color:white ;
    --btn-bg-color-hover: white;
    --btn-border-color-hover:black;
    // TAMAÑOS
    
 }